
html,body,input{margin:0;padding:0;font-size:16px;line-height:1.5;vertical-align:baseline;}
a{text-decoration:none;}a:hover{color:#ff4800;}
a:active{color:#ff7200;}
img{border:0;vertical-align:text-bottom;}
h2{margin:0;padding:0 8px;}
#menu{position:fixed;left:0;top:0;width:240px;height:100%;overflow:auto;overflow-x:hidden;}
.msie6 #menu{position:absolute;}
.catel{padding:16px 0;}
ul{margin:0 8px;padding:0 0 16px 32px;width:192px;list-style-type:circle;font-size:8px;}
li{margin:0;padding:4px 0;}
li a{font-size:16px;}
#examples{margin:0 0 0 240px;padding:0 16px;height:100%;overflow:auto;overflow-x:hidden;border-left:3px solid #ccc;}
.cater{padding:16px 0;}
.cater h2{border-bottom:3px double #ccc;}
dl{margin:0;padding:0;}
dt{padding:16px 16px 0;font-weight:bold;}
dd{margin:0;padding:0 16px 16px;border-bottom:1px dotted #999;}
p{color:#999;font-size:14px;}
pre{display:block;margin:16px 0 0;padding:8px;width:600px;border:1px solid #999;background:#fff;color:#666;font-family:Courier New, monospace;font-size:14px;font-weight:normal;resize:none;}
textarea{display:block;margin:16px 0 0;padding:8px;width:600px;border:1px solid #999;background:#fff;font-family:Courier New, monospace;font-size:14px;font-weight:normal;resize:none;overflow:hidden;}
button{margin:-1px 0 0;padding:4px 32px;border:1px solid #999;background:#ccc;text-align:left;vertical-align:top;font-weight:bold;cursor:pointer;}button:hover{background:#eee;}
button:active{background:#ddd;}
.msie8 button,.msie7 button,.msie6 button{margin-top:-2px;padding-right:8px;padding-bottom:2px;}
#zone{margin:16px 0 0;padding:8px;width:586px;height:128px;border:8px solid #ccc;background:#eee;overflow:auto;}
