div.wlby_movie
{
	overflow: hidden;
	position: absolute;
	left: 5%;
	bottom: 10%;
	width: 100%;
	height: 40%;
	z-index: 999;
}
.wlby_text p { padding: 0; margin: 0; }

a.wlby_classic-link { color: inherit; text-decoration: none; }
a.wlby_classic-link:link { color: inherit; text-decoration: none; }
a.wlby_classic-link:hover { color: inherit; text-decoration: none; }
a.wlby_classic-link:active { color: inherit; text-decoration: none; }
a.wlby_classic-link:visited { color: inherit; text-decoration: none; }

a.wlby_tlf-link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:hover { color: inherit; text-decoration: none; }
a.wlby_tlf-link:active { color: inherit; text-decoration: none; }
a.wlby_tlf-link:visited { color: inherit; text-decoration: none; }

.wlby_button > * { visibility: hidden; }
.wlby_button > .wlby_button_normal { visibility: visible; }
.wlby_button:hover > .wlby_button_normal { visibility: hidden; }
.wlby_button:hover > .wlby_button_hover { visibility: visible; }
.wlby_button:active > .wlby_button_normal { visibility: hidden; }
.wlby_button:active > .wlby_button_hover { visibility: hidden; }
.wlby_button:active > .wlby_button_active { visibility: visible; }

@-webkit-keyframes wlby_frameset-animation {
	from { }
	to { }
}

.wlby_fs, .wlby_graphic 
{
	-webkit-animation-name: wlby_frameset-animation;
}

.wlby_graphic 
{
	-webkit-animation-duration: 1s;
}

.wlby_masked 
{
	height: inherit;
	position: inherit;
	width: inherit;
}

.wlby_sprite 
{
	-webkit-animation-name: wlby_frameset-animation;
	-webkit-animation-iteration-count: infinite;
}

.wlby_42
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -229.4, -104.686);
}

.wlby_38
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -226.6, -107.367);
}

.wlby_40
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -226.35, -106.3);
}

.wlby_8
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -225.4, -105.392);
}

.wlby_12
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -225.2, -118.6);
}

.wlby_4
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -224.4, -103.939);
}

.wlby_6
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -222.75, -107.392);
}

.wlby_10
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -219.3, -125.089);
}

.wlby_18
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -217.05, -119.1);
}

.wlby_16
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -216.75, -119.35);
}

.wlby_26
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -216.1, -107.979);
}

.wlby_20
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -214.65, -117.85);
}

.wlby_14
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -214.55, -122.405);
}

.wlby_32
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -213.85, -108.077);
}

.wlby_34
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -213.75, -107.851);
}

.wlby_24
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -212.65, -116.85);
}

.wlby_30
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -212.65, -107.893);
}

.wlby_28
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -210.55, -110.337);
}

.wlby_22
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -209.2, -117.1);
}

.wlby_36
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -207.45, -106.784);
}

.wlby_2
{
	-webkit-animation-duration: 0.0416667s;
}

.wlby_5
{
	-webkit-animation-duration: 0.0416667s;
	display: none;
}

.wlby_1
{
	-webkit-animation-duration: 0.833333s;
}

.wlby_3
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,230,130);
}


