body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:1px;
    top:1px;
    width:481px;
    height:801px;
    overflow:hidden;
}

#pd3u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u1_normal {
    background-image: url('../Home_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u2 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u3 {
    position:absolute;
    left:127px;
    top:448px;
    width:85px;
    height:111px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u4 {
    position:absolute;
    left:248px;
    top:449px;
    width:92px;
    height:107px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u5 {
    position:absolute;
    left:250px;
    top:581px;
    width:95px;
    height:103px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u6 {
    position:absolute;
    left:22px;
    top:452px;
    width:82px;
    height:102px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u7 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    overflow:hidden;
}

#pd4u7 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

#u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    overflow:hidden;
}

#pd1u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u9_normal {
    background-image: url('../Home_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u10 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u11_normal {
    background-image: url('../Home_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u12 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    overflow:hidden;
}

#pd0u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u14_normal {
    background-image: url('../Home_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u15 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:95px;
    top:503px;
    width:339px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u17 {
    position:absolute;
    left:16px;
    top:287px;
    width:139px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u18 {
    position:absolute;
    left:18px;
    top:49px;
    width:60px;
    height:54px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd3u7 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u19_normal {
    background-image: url('../Home_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u20 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u21 {
    position:absolute;
    left:18px;
    top:49px;
    width:60px;
    height:54px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd2u7 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

#u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    overflow:hidden;
}

#pd6u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u23_normal {
    background-image: url('../Home_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u24 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd5u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u25_normal {
    background-image: url('../Home_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u26 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u27 {
    position:absolute;
    left:16px;
    top:124px;
    width:97px;
    height:53px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd4u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u28_normal {
    background-image: url('../Home_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u29 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u30 {
    position:absolute;
    left:16px;
    top:124px;
    width:97px;
    height:53px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd3u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u31_normal {
    background-image: url('../Home_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u32 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u33 {
    position:absolute;
    left:16px;
    top:124px;
    width:97px;
    height:53px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u34 {
    position:absolute;
    left:169px;
    top:128px;
    width:100px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd2u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u35_normal {
    background-image: url('../Home_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u36 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u37 {
    position:absolute;
    left:16px;
    top:124px;
    width:97px;
    height:53px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u38 {
    position:absolute;
    left:5px;
    top:254px;
    width:470px;
    height:539px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd1u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u39_normal {
    background-image: url('../Home_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u40 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u41 {
    position:absolute;
    left:16px;
    top:124px;
    width:97px;
    height:53px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u42_normal {
    background-image: url('../Home_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u43 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u44 {
    position:absolute;
    left:10px;
    top:117px;
    width:98px;
    height:82px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u45 {
    position:absolute;
    left:123px;
    top:121px;
    width:110px;
    height:80px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u46 {
    position:absolute;
    left:8px;
    top:208px;
    width:465px;
    height:353px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u47 {
    position:absolute;
    left:18px;
    top:49px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u48 {
    position:absolute;
    left:413px;
    top:50px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u49 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    overflow:hidden;
}

#pd1u49 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

#pd0u49 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u50_normal {
    background-image: url('../Home_files/u23_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u51 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u52 {
    position:absolute;
    left:18px;
    top:45px;
    width:62px;
    height:57px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd1u7 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

#u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    overflow:hidden;
}

#pd2u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u54_normal {
    background-image: url('../Home_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u55 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u56 {
    position:absolute;
    left:20px;
    top:12px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd1u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u57_normal {
    background-image: url('../Home_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u58 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u59 {
    position:absolute;
    left:415px;
    top:13px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u60 {
    position:absolute;
    left:15px;
    top:10px;
    width:59px;
    height:54px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u61 {
    position:absolute;
    left:-1px;
    top:74px;
    width:479px;
    height:56px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u62_normal {
    background-image: url('../Home_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u63 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u64 {
    position:absolute;
    left:15px;
    top:10px;
    width:59px;
    height:54px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u65 {
    position:absolute;
    left:415px;
    top:13px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u66 {
    position:absolute;
    left:-1px;
    top:76px;
    width:481px;
    height:54px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u7 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

#pd2u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

#u67 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    overflow:hidden;
}

#pd3u67 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u68_normal {
    background-image: url('../Home_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u69 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u67 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u70_normal {
    background-image: url('../Home_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u71 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u67 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u72_normal {
    background-image: url('../Home_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u73 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u67 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u74_normal {
    background-image: url('../Home_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u75 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u76 {
    position:absolute;
    left:1px;
    top:206px;
    width:477px;
    height:513px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u77 {
    position:absolute;
    left:24px;
    top:48px;
    width:52px;
    height:51px;
    overflow:hidden;
}

#pd0u77 {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:51px;
    
}

.u78_normal {
    background-image: url('../Home_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:50px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:50px;
}

.u79 {
    position:absolute;
    left:2px;
    top:17px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u80 {
    position:absolute;
    left:24px;
    top:48px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u81 {
    position:absolute;
    left:0px;
    top:111px;
    width:481px;
    height:146px;
    overflow:hidden;
}

#pd1u81 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:146px;
    
}

.u82_normal {
    background-image: url('../Home_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:0px;
    top:1px;
    width:480px;
    height:126px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:126px;
}

.u83 {
    position:absolute;
    left:2px;
    top:55px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u84 {
    position:absolute;
    left:119px;
    top:4px;
    width:129px;
    height:49px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u85 {
    position:absolute;
    left:248px;
    top:3px;
    width:113px;
    height:51px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u86 {
    position:absolute;
    left:363px;
    top:3px;
    width:116px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u87 {
    position:absolute;
    left:0px;
    top:1px;
    width:117px;
    height:53px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u81 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:146px;
    
}

#u88 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    overflow:hidden;
}

#pd1u88 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u89_normal {
    background-image: url('../Home_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u90 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u91 {
    position:absolute;
    left:14px;
    top:45px;
    width:58px;
    height:59px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u88 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

#pd1u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

#u92 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    overflow:hidden;
}

#pd1u92 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u93_normal {
    background-image: url('../Home_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u94 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u95 {
    position:absolute;
    left:11px;
    top:44px;
    width:67px;
    height:60px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u92 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u96_normal {
    background-image: url('../Home_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u97 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u98 {
    position:absolute;
    left:-1px;
    top:344px;
    width:479px;
    height:83px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:801px;
    
}

.u99_normal {
    background-image: url('../Home_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u100 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u101 {
    position:absolute;
    left:3px;
    top:729px;
    width:476px;
    height:73px;
    overflow:hidden;
}

#pd0u101 {
    position:absolute;
    left:0px;
    top:0px;
    width:476px;
    height:73px;
    
}

#u102 {
    position:absolute;
    left:0px;
    top:2px;
    width:120px;
    height:70px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u103 {
    position:absolute;
    left:120px;
    top:1px;
    width:120px;
    height:70px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u104 {
    position:absolute;
    left:241px;
    top:2px;
    width:120px;
    height:70px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u105 {
    position:absolute;
    left:360px;
    top:0px;
    width:115px;
    height:70px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

